# Create a MySQL database with 2 clicks (no account needed): https://railway.app/
DATABASE_URL="mysql://root@localhost:3306/mydb"

# Generate one here: https://generate-secret.vercel.app/32 (only required for localhost)
NEXTAUTH_SECRET=

GITHUB_ID=
GITHUB_SECRET=